*.suo
*.db
*.opendb
*.ipch
*.ilk
Debug/HeroGame.pdb
Debug/HeroGame.exe
HeroGame/HeroGame.vcxproj
HeroGame/HeroGame.vcxproj.filters
HeroGame/HeroGame.vcxproj.user
HeroGame/Debug/HeroGame.tlog/CL.command.1.tlog
HeroGame/Debug/HeroGame.tlog/CL.read.1.tlog
HeroGame/Debug/HeroGame.tlog/CL.write.1.tlog
HeroGame/Debug/HeroGame.tlog/HeroGame.lastbuildstate
HeroGame/Debug/HeroGame.tlog/link.command.1.tlog
HeroGame/Debug/HeroGame.tlog/link.read.1.tlog
HeroGame/Debug/HeroGame.tlog/link.write.1.tlog
HeroGame/Debug/vc141.idb
HeroGame/Debug/vc141.pdb
HeroGame/Debug/HeroGame.log
HeroGame/Debug/HeroGame.obj
HeroGame/Debug/Locations.obj
HeroGame/Debug/Player.obj
HeroGame/Debug/Quest.obj
HeroGame/Debug/City.obj
